<!-- {{ define "footer"}}
    <footer>
        <p>footer</p>
    </footer>
{{ end }} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h3>Hello world {{ .UserName }}</h3>
    <h3>Hello world {{ .Age }}</h3>

    <p {{ if .Admin }} style="color:red" {{ end }}>
        El usuario {{ .UserName }}
        {{ if .Active }}
            Esta Activo
        {{ else }}
            No Activo
        {{ end }}
    </p>

    {{ if (and .Active .Admin)}}
        <p>Es admin</p>
    {{ end }}
    

    {{ if (gt .Age 22)}}
        <p>El usuario tiene mas de 22 años</p>
    {{ end }}

    <p>Skills</p>
    <ul>

        {{ range .Skills}}
            <li> {{ . }} </li>
        {{end}}
    </ul>

    <br>

    <p>Cursos</p>
    <ul>
        {{ range .Courses}}
            <li> El curso es {{ .Name }} y la duración de estudio fue de {{ .Time }} horas </li>
        {{ end }}
    </ul>

    <!-- {{ if (or .Active .Admin)}}
    <p>Es admin</p>
    {{ end }} -->


<!-- 

        gt  : greater than (mayor que)
        ge : greater than or equals (mayor o igual que)
        lt  : less than (menor que)
        le : less than or equal (menor o igual que)
        eq  : equal (igual)
        ne  : not equal (diferente)
        in  : include (adentro) ['a','b'] si contiene a o contiene b o contiene ambos
        nin :  not include (si no esta adentro) aquí si se cumple, ninguno de los dos.

    and &&
    or || 
    eq ==
    ne !=
    lt <
    le <=
    gt >
    ge >=
-->
    {{ with $value := 23}}
        <p> {{ $value }}</p>
    {{end}}
    
    {{with $boolean := true }}
        {{ if $boolean }}
            <p>Si</p>
        {{ else }}    
            <p>No</p>
        {{ end }}
    {{end}}

    
    {{if .HasAdminPermissions "yes"}}
        <p>chalala asdasdasd</p>
    {{else}}
        <p>asdasd</p>
    {{ end }}

    {{if .HasPermission "feature-a"}}
        <h3>Feature A</h3>
        <p>Some other stuff here...</p>
    {{else}}
        <h3>Feature A</h3>
        <p>To enable Feature A please upgrade your plan</p>
    {{end}}


    {{ hello }}
    {{ sum 1 .Age }}

    {{template "footer"}}

</body>
</html>